.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-inverse {
  background-color: #000;
  border-color: #000;
  background-image: -webkit-linear-gradient(top, #000 0%, #000 100%);
  & .navbar-brand {
    color: #00E89D;
    font-size: 25px;
    font-weight: bold
  }
}

// .navbarTop {
//   // background-color: red;
// }