.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(top, #000 0%, #000 100%);
  & .navbar-brand {
    color: #00e89d;
    font-size: 25px;
    font-weight: bold;
  }
}

// .navbarTop {
//   // background-color: red;
// }
